<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Baltic Sports Services</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/stock">Stock</a></li>
                <li class="active"><a href="/suppliers">Suppliers</a></li>
                <li><a href="/orders">Orders</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    {{ if .Error }}
    <div class="alert alert-danger">
        <strong>Error</strong> {{.Error}}
    </div>
    {{ end }}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Contact Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{ range $value := .Data }}
            <tr>
                <td>{{ $value.Address1 }}</td>
                <td>{{ $value.Address2 }}</td>
                <td>{{ $value.City }}</td>
                <td>{{ $value.PostCode }}</td>
                <td>{{ $value.ContactNumber }}</td>
                <th>
                    <a href="/supplier/warehouse/delete?id={{ $value.ID }}" class="btn btn-danger">Delete</a>
                </th>
            </tr>
        {{ end }}
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
</body>
</html>